<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".recyclerview.RecyclerViewSampleActivity"
            android:label="@string/app_name"/>


        <activity
            android:name=".LinkActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="link"
                    android:scheme="android_sample"/>
            </intent-filter>
        </activity>


        <receiver android:name=".TestReceiver"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.ACTION_USB_DEVICE_ATTACHED"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.ACTION_USB_DEVICE_DETACHED"/>
            </intent-filter>

            <intent-filter>
                <action android:name="kr.co.yjson.ass.androidsamples.test1"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>